/* src/components/Sidebar.css */

.navbar {
  display: flex;
  align-items: center;
  color: white;
}

.hamburger {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: -50px;
}

.sidebar {
  position: fixed;
  top: 66px;
  left: -350px;
  height: 85%;
  width: 250px;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
  transition: left 0.3s ease;
  z-index: 1000;
  padding: 20px;
    font-size: 25px;

}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
}

.sidebar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  float: right;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}
.filter-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 280px;
  height: 100%;
  background: #fff;
  z-index: 2000;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-body {
  margin-top: 20px;
}

input[type="range"] {
  width: 100%;
}
